common --enable_bzlmod

build --incompatible_default_to_explicit_init_py

build --java_language_version=17
build --java_runtime_version=17
build --tool_java_language_version=17
build --tool_java_runtime_version=17

test --test_output=all

# To update these lines, execute
# `bazel run @rules_bazel_integration_test//tools:update_deleted_packages`.
# This command must be run whenever integration test workspaces are added or removed.
build --deleted_packages=.ijwb/aspect,examples/pets,examples/pkl_project,examples/pkl_project/pkl,examples/simple,tests/integration_tests/example_workspaces/multiple_pkl_projects,tests/integration_tests/example_workspaces/multiple_pkl_projects/project1,tests/integration_tests/example_workspaces/multiple_pkl_projects/project2,tests/integration_tests/example_workspaces/override_version,tests/integration_tests/example_workspaces/pkl_cache,tests/integration_tests/example_workspaces/pkl_package,tests/integration_tests/example_workspaces/pkl_package/pkl_project_basic,tests/integration_tests/example_workspaces/pkl_package/pkl_project_strip_prefix,tests/integration_tests/example_workspaces/pkl_package/pkl_project_version_override,tests/integration_tests/example_workspaces/pkl_package/srcs/pkg2,tests/integration_tests/example_workspaces/pkl_project,tests/integration_tests/example_workspaces/simple
query --deleted_packages=.ijwb/aspect,examples/pets,examples/pkl_project,examples/pkl_project/pkl,examples/simple,tests/integration_tests/example_workspaces/multiple_pkl_projects,tests/integration_tests/example_workspaces/multiple_pkl_projects/project1,tests/integration_tests/example_workspaces/multiple_pkl_projects/project2,tests/integration_tests/example_workspaces/override_version,tests/integration_tests/example_workspaces/pkl_cache,tests/integration_tests/example_workspaces/pkl_package,tests/integration_tests/example_workspaces/pkl_package/pkl_project_basic,tests/integration_tests/example_workspaces/pkl_package/pkl_project_strip_prefix,tests/integration_tests/example_workspaces/pkl_package/pkl_project_version_override,tests/integration_tests/example_workspaces/pkl_package/srcs/pkg2,tests/integration_tests/example_workspaces/pkl_project,tests/integration_tests/example_workspaces/simple

###
# GitHub Actions specific configuration
###
build:ci --curses=no --color=yes --show_timestamps
test:ci --curses=no --color=yes --show_timestamps

# Use a consistent disk and repository cache.
build:ci --disk_cache=~/.cache/bazel/disk --repository_cache=~/.cache/bazel/repositories
